    body,
    h1,
    h2,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif;
    }

    body,
    html {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }

    /* Parallax */

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* First Image */

    .bgimg-1 {
        background-image: url('images/aconcagua.jpg');
        min-height: 100%;
    }

    /* Second image (Portfolio) */

    .bgimg-2 {
        background-image: url('images/Picture1.png');
        min-height: 40%;
    }

    /* Third image (Contact) */

    .bgimg-3 {
        background-image: url('images/picture3.jpg');
        min-height: 40%;
    }

    .w3-wide {
        letter-spacing: 10px;
    }

    .w3-hover-opacity {
        cursor: pointer;
    }

    p {
        text-align: justify;
    }

    #name {
        font-family: 'Monda';
    }

    .mySlides {
        display: none;
    }

    h3 {
        font-family: 'Dancing Script', cursive;
        font-size: 4em;
    }

    a {
        text-decoration: none;
    }
    @media only screen and (max-width: 640px){
        body{
            max-width: 600px;
        }
    }

